{% extends "base.html" %}
{% block content %}
<div class="container-fluid p-0">
    <!--<h1 class="h3 mb-3">Host Table</h1>-->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-hover" id="ActivityTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>timestamp</th>
                                <th>activity</th>
                                <th>user</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block page_js %}
<script type="text/JavaScript" src="{{url_for('static', filename='js/flask_ajax_setup.js')}}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        /* Ajax to load datatable source*/
        var activityTable = $('#ActivityTable').DataTable({
            "ajax": {
                type: 'GET',
                url: "{{ url_for('activity.ajax_activity_list') }}",
                "dataSrc": function (json) {
                    return json.data
                }
            }
        });

        /* realods the table after avery five seconds */
        setInterval(function () {
            activityTable.ajax.reload();
        }, 50000);
    })
</script>
{% endblock %}